.forget-main-container {
    margin: 0rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.forget-top-left-img {
    position: absolute;
    width: 928px;
    height: 473px;
    top: -280.25px;
    left: -75.75px;
    opacity: 1;
    border: 1px;
    z-index: 1;
    animation: forgetMoveTopRight 6s ease-in-out infinite alternate;
}

.forget-left-middle-effect {
    width: 10rem;
    height: 1rem;
    top: 50px;
    left: -575.75px;
    opacity: 1;
    /*border: 1px solid;
    */
    position: absolute;
    z-index: 1;
    transform: rotate(-28.1deg);
    -webkit-transform: rotate(-28.1deg);
    -moz-transform: rotate(-28.1deg);
    -ms-transform: rotate(-28.1deg);
    -o-transform: rotate(-28.1deg);
    animation: forgetMoveToTop 6s ease-in-out infinite alternate;
}

.forget-right-middle-effect {
    top: -100px !important;
    left: 760px;
    position: absolute;
    z-index: 1;
    /* border: 1px solid; */
    height: 20rem;
    opacity: 5;
    mix-blend-mode: soft-light;
    animation: forgetMoveBottomRight 6s ease-in-out infinite alternate;
}

@keyframes forgetMoveTopRight {
    0% { transform: translate(0, 0); }
    100% { transform: translate(calc(100vw - 852px), 0); }
}

@keyframes forgetMoveToTop {
    0% { transform: rotate(-28.1deg) translate(0, 0); }
    100% { transform: rotate(-28.1deg) translate(calc(100vw + 300px), -80px); }
}

@keyframes forgetMoveBottomRight {
    0% { transform: translate(0, 0); }
    100% { transform: translate(calc(100vw - 760px - 20rem), calc(100vh - 18rem)); }
}

/* Forget Password Form */
.forget-form-main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 512px;
    height: auto;
    padding: 1rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    /* border: 1px solid; */

}

.forget-form-heading {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 22.5px;
    letter-spacing: 0;
    width: 380px;
    height: 25px;
    opacity: 1;
    margin-top: 2rem;
}

.forget-form {
    margin-top: 3rem;
    width: 417px;
    height: auto;
    border-radius: 40px;
    padding: 2rem 0;
    background-color: #FFFFFF;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.forget-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8rem;
}

.forget-input-wrapper {
    display: flex;
    align-items: center;
    width: 374px;
    height: 67.5px;
    background-color: #FAFAFA;
    border-radius: 18px;
    padding: 0 1rem;
    gap: 0.5rem;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.forget-input-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: 0;
    color: #000000;
    height: 100%;

}

.forget-input-wrapper input::placeholder {
    color: #999;
}

.forget-input-wrapper input:-webkit-autofill,
.forget-input-wrapper input:-webkit-autofill:hover,
.forget-input-wrapper input:-webkit-autofill:focus,
.forget-input-wrapper input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #FAFAFA inset !important;
    -webkit-text-fill-color: #333 !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s;
}

.forget-input-icon {
    flex-shrink: 0;
}

.forget-error-msg {
    display: block;
    font-size: 0.75rem;
    color: #ff4d4d;
    margin-top: 0.3rem;
    width: 374px;
    padding-left: 0.5rem;
    text-align: left;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
}

.forget-submit-btn {
    width: 374px;
    height: 67px;
    border-radius: 17.25px;
    /* padding: 27px 161.25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    opacity: 1;
    border: none;
    background-color: Black;
    color: #fff;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 22.5px;
    letter-spacing: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 17.25px;
    -moz-border-radius: 17.25px;
    -ms-border-radius: 17.25px;
    -o-border-radius: 17.25px;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.forget-submit-btn P {
    width: 180px;
    /* border: 1PX solid WHITE !important; */
}

.forget-submit-btn:hover {
    background-color: #333;
}

.forget-submit-btn:active {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}

/* Remember Password Container */
.Rememberpassword {
    width: 343px;
    height: 13px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem auto 0 auto; */
    padding-top: 150px;
}

.Rememberpassword p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: 0;
    color: #000;
}

.Rememberpassword p a {
    color: #646cff;
    text-decoration: none;
}

.Rememberpassword p a:hover {
    text-decoration: underline;
}

.successfull-message-send {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    outline: none;
    background: transparent;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: 0;
    color: #367B53;
    width: 374px;
    padding: 1.5rem;
    background-color: #98E6B9;
    border-radius: 18px;
    text-align: left;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.forget-success-icon {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.forget-success-text {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: 0;
    color: #367B53;
    margin: 0;
    flex: 1;
}

/* ==================== RESPONSIVE STYLES ==================== */

/* Tablet - Large (max-width: 1024px) */
@media (max-width: 1024px) {
    .forget-top-left-img {
        width: 700px;
        height: 350px;
        top: -200px;
        left: -50px;
    }

    .forget-left-middle-effect {
        left: -400px;
        top: 30px;
    }

    .forget-right-middle-effect {
        left: calc(100vw - 250px);
        height: 18rem;
    }
}

/* Tablet - Medium (max-width: 768px) */
@media (max-width: 768px) {
    .forget-top-left-img {
        width: 500px;
        height: 250px;
        top: -150px;
        left: -30px;
        opacity: 0.8;
    }

    .forget-left-middle-effect {
        left: -450px;
        top: 40px;
        opacity: 0.6;
    }

    .forget-right-middle-effect {
        top: 50px !important;
        left: calc(100vw - 150px);
        height: 15rem;
        opacity: 2;
    }

    .forget-form-main-container {
        top: 50%;
        height: auto;
        padding: 1rem 1.5rem;
    }

    .forget-form {
        width: 90vw;
        max-width: 400px;
        height: auto;
        padding-bottom: 1.5rem;
    }

    .forget-form-heading {
        font-size: 30px;
        width: auto;
        text-align: center;
    }

    .forget-input-wrapper,
    .forget-submit-btn {
        width: 90%;
        max-width: 340px;
    }

    .Rememberpassword {
        width: 90%;
        max-width: 340px;
    }

    .successfull-message-send {
        width: 90%;
        max-width: 340px;
    }
}

/* Mobile - Large (max-width: 480px) */
@media (max-width: 480px) {
    .forget-top-left-img {
        width: 380px;
        height: 200px;
        top: -100px;
        left: -20px;
        opacity: 0.6;
    }

    .forget-left-middle-effect {
        display: none;
    }

    .forget-right-middle-effect {
        top: 80px !important;
        left: calc(100vw - 120px);
        height: 12rem;
        opacity: 1.5;
    }

    .forget-form-main-container {
        width: 100%;
        padding: 1rem 1.5rem;
    }

    .forget-form {
        width: 95vw;
        max-width: 100%;
        border-radius: 30px;
        padding-bottom: 1.5rem;
    }

    .forget-form-heading {
        font-size: 28px;
    }

    .forget-input-wrapper,
    .forget-submit-btn {
        width: 95%;
    }

    .forget-submit-btn {
        padding: 20px 80px;
        font-size: 18px;
    }

    .Rememberpassword {
        width: 95%;
    }

    .Rememberpassword p {
        font-size: 16px;
    }

    .successfull-message-send {
        width: 95%;
        font-size: 16px;
    }
}

/* Mobile - Medium (max-width: 375px) */
@media (max-width: 375px) {
    .forget-form {
        width: 98vw;
        padding: 1.5rem 0.5rem;
    }

    .forget-form-heading {
        font-size: 26px;
    }

    .forget-input-wrapper,
    .forget-submit-btn {
        width: 98%;
    }
}

/* Mobile - Small (max-width: 320px) */
@media (max-width: 320px) {
    .forget-top-left-img {
        width: 300px;
        height: 150px;
        top: -80px;
    }

    .forget-right-middle-effect {
        display: none;
    }

    .forget-form {
        width: 100%;
        padding: 1rem 0.3rem;
    }

    .forget-form-heading {
        font-size: 24px;
    }

    .forget-input-wrapper,
    .forget-submit-btn {
        width: 100%;
        max-width: 280px;
    }

    .forget-submit-btn {
        padding: 18px 60px;
        font-size: 16px;
    }
}