/* Parent container */
.BackgroundTemplate-main-container {
    width: 100%;
    height: calc(100vh - 13vh);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border-bottom-left-radius: 22.5px;
}

.background-template-effect {
    position: absolute;
    left: -100px;
    bottom: -100px;
    width: 350px;
    height: 350px;
    background-color: #D5E8F4;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(50px);
    -webkit-filter: blur(50px);
}