/* Parent container */
.BackgroundTemplate-main-container {
    height: 100vh;
    overflow: hidden;  /* THIS is the key */
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: -100;
}
.background-template-effect
{
     position: absolute;
     top: 650px;
     left: -490px;
     width: 880px;
     height: 400px;
     background-color: #D5E8F4;
     /*border: 1px solid;
     */transform: rotate(-65deg);
     -webkit-transform: rotate(-55deg);
     -moz-transform: rotate(-55deg);
     -ms-transform: rotate(-55deg);
     -o-transform: rotate(-55deg);
     opacity: 50%;
     filter: blur(30px) ;
     -webkit-filter: blur(30px) ;
}