* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400&family=Lexend:wght@500&display=swap');